// Specialized style for WordPress

header {
  .wp-block-site-title {
    margin: 0;
  }

  .wp-block-site-title {
    font-size: 1.25em;

    a {
      &:hover,
      &:visited {
        color: inherit;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.wp-block-columns.is-not-stacked-on-mobile
> .wp-block-column.grow-2 {
  flex-grow: 2;
}

.alignfull {
  width: 100vw;
  margin-left: calc( 50% - 50vw );
  overflow: hidden;
}
