// Specialized style for WordPress

$breakpoints: (
  'only-sm': 'screen and (max-width: 600px)',
  'up-md': 'screen and (min-width: 601px)',
) !default;

@mixin mq($breakpoint: up-md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

header {
  .wp-block-columns {
    margin: 0;

    @include mq(only-sm) {
      padding: 1.25rem;
    }

    &.is-not-stacked-on-mobile
    > .wp-block-column {
      &:has( .wp-block-navigation__responsive-container-content ){
        @include mq(up-md) {
          flex-grow: 2;
        }
      }
      &:has( .wp-block-site-title ){
        @include mq(only-sm) {
          flex-grow: 2;
        }
      }
    }
  }

  .wp-block-site-title {
    margin: 0;
    font-size: 1.25em;

    a {
      &:hover,
      &:visited {
        color: inherit;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}


li.wp-block-navigation-item {
  margin-bottom: 0;
}

.wp-block-navigation__responsive-container-content {
  gap: 1em;
}

.alignfull {
  width: 100vw;
  margin-left: calc( 50% - 50vw );
  overflow: hidden;
}
