// Specialized style for WordPress

$breakpoints: (
  'only-sm': 'screen and (max-width: 600px)',
  'up-md': 'screen and (min-width: 601px)',
) !default;

@mixin mq($breakpoint: up-md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// Site Header and Site footer
.wp-site-blocks > header {
  .wp-block-columns {
    margin: 0;

    @include mq(only-sm) {
      padding: 1.25rem;
    }

    &.is-not-stacked-on-mobile
    > .wp-block-column {
      &:has( .wp-block-navigation__responsive-container-content ){
        @include mq(up-md) {
          flex-grow: 2;
        }
      }

      &:has( .wp-block-site-title ){
        @include mq(only-sm) {
          flex-grow: 2;
        }
      }
    }
  }
}

// Sticky window at bottom when few content
.wp-site-blocks {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  & > footer {
    margin-top: auto;

    select {
      color: var(--wp--preset--color--koki-hanada);
      padding: 1em 2em;
      background: white;
      border: 2px solid var(--wp--preset--color--tsuyukusa);
    }
  }
}

// Block elements
li.wp-block-navigation-item {
  margin-bottom: 0;
}

.wp-block-navigation__responsive-container {
  &-content {
    gap: 1em;
  }

  &.has-modal-open.is-menu-open {
    padding: 1.5rem;
  }
}

// Block style
.alignfull {
  width: 100vw;
  margin-left: calc( 50% - 50vw );
  overflow: hidden;
}

//pagination
.wp-block-query-pagination-numbers {
  > .page-numbers {
    display: inline-block;
    padding: 0 0.5em;
  }
}

textarea, select, input,
.wp-block-search__button {
    border-radius: 5px;
}

