$font-size-base: 18px;

$color-blossom: #257bcc;
$color-bg: #ffffff;
$color-bg-alt: #f7f7f7;
$color-bg-inline-code: #efefef;
$color-text: #333333;

@import "base";
@import "wordpress";
@import "helper";

