$color-blossom: #257bcc;
$color-fade: #436fb4;

$color-bg: #ffffff;
$color-bg-alt: #f7f7f7;
$color-bg-inline-code: #efefef;

$color-text: #222222;
$font-size-base: 1.8rem;

$font-family-base: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;

$font-family-heading: $font-family-base;

@import "sakura";
@import "wordpress";

